@charset "UTF-8";

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

:root::-webkit-scrollbar {
    width: 10px;
}

:root::-webkit-scrollbar-track {
    background-color: #c0c0c0;
}

:root::-webkit-scrollbar-thumb {
    background-color: rgba(126, 126, 126, 0.801);
}

body {
    margin: 0;
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #f4623a;
    text-decoration: underline;
}

a:hover {
    color: #c34e2e;
}

img,
svg {
    vertical-align: middle;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * 1.5rem);
    margin-left: calc(-0.5 * 1.5rem);
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.btn {
    display: inline-block;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn-primary {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cf5331;
    border-color: #c34e2e;
}

.btn-primary:focus {
    color: #fff;
    background-color: #cf5331;
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
}

.btn-primary:active {
    background-color: #c34e2e;
    border-color: #b74a2c;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #f4623a;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}

.nav-link:hover,
.nav-link:focus {
    color: #c34e2e;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.btn {
    position: relative;
    top: -1px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.d-none {
    display: none !important;
}

.h-100 {
    height: 100% !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.text-center {
    text-align: center !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-white {
    color: rgba(255, 255, 255, 1) !important;
}

.bg-primary {
    background-color: rgba(244, 98, 58, 1) !important;
}

.page-section {
    padding: 8rem 0;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.text-white-90 {
    color: rgb(255 255 255 / 90%) !important;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
        cursor: pointer;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    #mainNav.navbar-shrink {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f4623a;
        cursor: pointer;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: #f4623a;
    }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom,
            rgb(64 64 64 / 80%) 0%,
            rgb(72 72 72 / 80%) 100%),
        url(admin/img/bg-masthead.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 3rem;
}

header.masthead p {
    font-size: 1.15rem;
}

#about #follow {
    font-size: 18px;
    color: #fff;
}

#about #github {
    display: inline-block;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 14px;
    margin-right: 7px;
    cursor: pointer;
}

#about #github img {
    height: 40px;
    width: 40px;
}

#about #telegram {
    display: inline-block;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 7px;
    margin-right: 14px;
    cursor: pointer;
}

#about #telegram img {
    height: 40px;
    width: 40px;
}